<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >	
	
<mapper namespace="main.repository.Main_Dao">	
	<resultMap id="inquiryResult" type="inquiry"/>
	
	<select id="listInquiry" parameterType="String" resultMap="inquiryResult">
        select * from inquiry 
    </select>
    
    <insert id="insertInquiry" parameterType="inquiry">
    	insert into inquiry values(inquiry_seq.nextval, #{name}, #{email}, #{content})
    </insert>

</mapper>